

<div class="about">
    <h1>Our Features</h1>
    <div class="about-bank">
        <div class="feature">
            <i class="fa-solid fa-shield"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nesciunt ipsam corrupti error totam corporis voluptas dolore quas? Ipsa aut beatae atque delectus odit! Sed unde perferendis inventore placeat odio.</p>
        </div>
        <div class="feature">
            <i class="fa-solid fa-handshake"></i>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero beatae neque, ex ea blanditiis hic et vitae, voluptate qui a quas modi dolor nam tempora veritatis consectetur earum reiciendis optio!</p>
        </div>
    </div>
</div>