

<nav class="navbar">
    <h3>MyBank</h3>
    <ul class="nav-list">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">About</a></li>
        <li class="nav-item"><a href="../views/create">Create Account</a></li>
        <li class="nav-item"><a href="../views/login">Login</a></li>
    </ul>
</nav>