

<div class="social">
    <div class="buttons">
        <h2 class="social-text">Download Our App</h2>
        <button class="apple">
            <i class="fa-brands fa-apple"></i>
        </button>
        <button class="android">
            <i class="fa-brands fa-android"></i>
        </button>
    </div>
    <div class="icons">
        <h2 class="social-text">Follow us on</h2>
        <div class="social-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
</div>